<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>추가</h1>
	<br>
	<form action="http://127.0.0.1:5000/list/add" method="post">	
		<button type="submit">추가</button>
		<button type="button" onclick="location.href = '/list'">목록</button>
		<hr>
		<table border="1">
			<tr>
				<th>아이디</th>
				<td>
					<input type="text" name="eid"/>
				</td>
			</tr>
			<tr>
				<th>이름</th>
				<td>
					<input type="text" name="ename"/>
				</td>
			</tr>
			<tr>
				<th>성별</th>
				<td>
					<input type="text" name="sex"/>
				</td>
			</tr>
			<tr>
				<th>주소</th>
				<td>
					<input type="text" name="addr"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>